<div class="order-lg-1" data-component="icons/bootstrap">
  <a class="btn btn-sm btn-primary text-white border-0" href="{{ '/search/' | relative_url }}">
    <i class="fas fa-search fa-lg" data-fa-transform="down-1"></i>
  </a>
</div>
