<div class="header-icons">
  <span id="navbarSearchButton" class="search-header"> <!-- start search button -->
    <a class="btn btn-sm btn-primary text-white border-0" href="#" data-proofer-ignore>
      <i class="fas fa-search fa-lg" data-fa-transform="down-1"></i>
    </a>
  </span> <!-- end search button -->

  {% include components/icons/shopping-cart.liquid %}
</div>

<script>
  {% include components/icons/pv/shopping-cart.js %}
</script>

{% include components/icons/progressive.js %}
