<div class="header-icons">

  <div id="navbarSearchButton" class="search-header hidden-600"> <!-- start search button -->
    <a href="#" data-proofer-ignore>
      <i class="fas fa-search fa-lg" data-fa-transform="up-1 shrink-2"></i>
    </a>
  </div> <!-- end search button -->

  <div class="location-header hidden-600"> <!-- start location button -->
    <a href="{{ '/our-offices/' | relative_url }}">
      <i class="fas fa-map-marker-alt fa-lg" data-fa-transform="up-1"></i>
    </a>
  </div> <!-- end location button -->

  <div class="contact-header hidden-600"> <!-- start contact button -->
    <a href="{{ '/contact/' | relative_url }}">
      <i class="fas fa-envelope fa-lg" data-fa-transform="grow-2"></i>
    </a>
  </div> <!-- end contact button -->

  <div class="phone-header hidden-600"> <!-- start phone button -->
    <a href="#" data-proofer-ignore>
      <i class="fas fa-phone fa-lg" data-fa-transform="shrink-1"></i>
    </a>
  </div> <!-- end phone button -->

</div>

{% include components/icons/progressive.js %}
