<div class="header-icons">

  <div id="navbarSearchButton" class="search-header hidden-600"> <!-- start search button -->
    <a href="#" data-proofer-ignore>
      <i class="fas fa-search fa-lg" data-fa-transform="up-1 shrink-2"></i>
    </a>
  </div> <!-- end search button -->

</div>

<script>
  {% include components/icons/pv/shopping-cart.js %}
</script>

{% include components/icons/progressive.js %}
