<a class="btn btn-sm btn-primary text-white border-0 d-none" href="{{ '/' | relative_url }}">
  <span class="shopping-cart-icon fa-layers fa-fw">
    <i class="fapv fa-shopping-cart fa-lg text-white" data-fa-transform="left-3 up-3"></i>
    <i class="fas fa-circle fa-lg text-warning d-none" data-fa-transform="right-13 up-13"></i>
    <span class="fa-layers-text fa-inverse text-dark font-weight-bold" data-fa-transform="right-18 up-18 shrink-2"></span>
  </span>
</a>
