[data-component="megamenu/progressive"] {

  @mixin megamenu-position() {
    @if $header-component == three-rows {
      left: -15px;
    } @else {
      right: -15px;
    }
  }

  > a,
  > a:visited {
    padding: 6px 11px;
  }

  a.disabled-ds {
    &:hover {
      text-decoration: none;
    }
  }

  .sub {
    @include megamenu-position();
  }

}
