[data-component="megamenu/progressive"] {

  @mixin megamenu-position() {
    @if $header-component == three-rows {
      left: -15px;
    } @else {
      right: -15px;
    }
  }

  > .sub {
    margin: 8px 0 0 -28px;
    width: 832px;

    .sub-list {
      width: 70%;
    }
  }

  > a,
  > a:visited {
    padding: 4px 11px;
  }

  a.disabled-ds {
    &:hover {
      text-decoration: none;
    }
  }

  .sub {
    @include megamenu-position();
  }

}
