div#product-generals{
  div.product-price{
    span{
      &.disabled-price{
        text-decoration: line-through;
        background-color: #343a40;
      }
      a.white{
        color: #fff;
      }
    }
  }
}
