[data-component="product-cards/progressive"] {

  .cover-image {
    object-fit: cover;
    width: auto;
    height: 170px;
  }

  .opacity-80 {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: .8;
      filter: alpha(opacity=80);
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
    }
  }

  .text-sm {
    font-size: 0.9rem;
  }

  .disabled-price{
    font-size: 0.6rem!important;
    text-decoration: line-through;
    background-color: lightgray;
  }

}
