<aside class="col-sm-6 col-md-6">
  {% assign customer-type = site.awards[0].awards[0] | split: '-' | first %}
  {% if customer-type != 'platino' %}{% assign customer-type = 'titanio' %}{% endif %}
  <div class="title-block"><h3 class="title"><i class="fas fa-building"></i> Socio {{ customer-type }} de {{ site.author }}</h3></div>
  <div class="custom">
    <ul class="footer-list">
      <li class="footer-list"><a class="white" href="/our-offices/">{{ site.data.i18n.common.pages[site.lang].ouroffices.title }}</a></li>
      {% if site.awards %}<li class="footer-list"><a class="white" href="/awards/">{{ site.data.i18n.common.pages[site.lang].awards.title }}</a></li>{% endif %}
    </ul>
  </div>
</aside>

<aside class="col-sm-6 col-md-6">
  <div class="title-block"><h3 class="title"><i class="fas fa-envelope"></i> {{ site.data.i18n.common.footer[site.lang].contact.title }}</h3></div>
  <div class="custom">
    <ul class="footer-list">
      <li class="footer-list"><a class="white" href="/contact/">{{ site.data.i18n.common.pages[site.lang].contact.title }}</a></li>
    </ul>
  </div>
</aside>
