*.gem
.bundle
.sass-cache
_site/
.DS_Store
_config-dev.yml
.docker
.yarn-integrity
yarn-error.log

# Yarn 2.0.0
.pnp.js
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/cache
assets/node_modules/core-js-npm-*/
assets/node_modules/grpc-npm-*/
assets/node_modules/nan-npm-*/
assets/node_modules/node-gyp-npm-*/
assets/node_modules/node-pre-gyp-npm-*/
assets/node_modules/protobufjs-npm-*/

# Node.JS modules
/assets/node_modules/.bin/
/assets/node_modules/**/.bowerrc
/assets/node_modules/**/.eslintrc.json
/assets/node_modules/**/.gitattributes
/assets/node_modules/**/.gitignore
/assets/node_modules/**/.jscsrc
/assets/node_modules/**/.npmignore
/assets/node_modules/**/.travis.yml
/assets/node_modules/**/_config.yml
/assets/node_modules/**/*.md
/assets/node_modules/**/*.editorconfig
/assets/node_modules/**/AUTHORS.txt
/assets/node_modules/**/bower.json
/assets/node_modules/**/CNAME
/assets/node_modules/**/component.json
/assets/node_modules/**/composer.json
/assets/node_modules/**/FUNDING.yml
/assets/node_modules/**/Gruntfile.coffee
/assets/node_modules/**/Gruntfile.js
/assets/node_modules/**/index.html
/assets/node_modules/**/LICENSE
/assets/node_modules/**/LICENSE-MIT
/assets/node_modules/**/LICENSE.txt
/assets/node_modules/**/Makefile
/assets/node_modules/**/MIT-LICENSE.txt
/assets/node_modules/**/notes
/assets/node_modules/**/opencollective-postinstall
/assets/node_modules/**/package.json
/assets/node_modules/**/package-lock.json
/assets/node_modules/**/svgo.yaml
/assets/node_modules/**/VERSION
/assets/node_modules/**/yarn.lock

# @fortawesome/fontawesome
/assets/node_modules/@fortawesome/fontawesome/*.d.ts
/assets/node_modules/@fortawesome/fontawesome/*.es.js
/assets/node_modules/@fortawesome/fontawesome-common-types/

# @fortawesome/fontawesome-free-brands
/assets/node_modules/@fortawesome/fontawesome-free-brands/*.d.ts
/assets/node_modules/@fortawesome/fontawesome-free-brands/*.js
!/assets/node_modules/@fortawesome/fontawesome-free-brands/index.js

# @fortawesome/fontawesome-free-regular
/assets/node_modules/@fortawesome/fontawesome-free-regular/*.d.ts
/assets/node_modules/@fortawesome/fontawesome-free-regular/*.js
!/assets/node_modules/@fortawesome/fontawesome-free-regular/index.js

# @fortawesome/fontawesome-free-solid
/assets/node_modules/@fortawesome/fontawesome-free-solid/*.d.ts
/assets/node_modules/@fortawesome/fontawesome-free-solid/*.js
!/assets/node_modules/@fortawesome/fontawesome-free-solid/index.js

# bootstrap
/assets/node_modules/popper.js/
/assets/node_modules/bootstrap/docs/
/assets/node_modules/bootstrap/fonts/
/assets/node_modules/bootstrap/grunt/
/assets/node_modules/bootstrap/js/
/assets/node_modules/bootstrap/less/
/assets/node_modules/bootstrap/scss/**/*.scss
!/assets/node_modules/bootstrap/scss/_functions.scss
!/assets/node_modules/bootstrap/scss/_variables.scss
!/assets/node_modules/bootstrap/scss/vendor/_rfs.scss
!/assets/node_modules/bootstrap/scss/mixins/_deprecate.scss
!/assets/node_modules/bootstrap/scss/mixins/_breakpoints.scss
!/assets/node_modules/bootstrap/scss/mixins/_hover.scss
!/assets/node_modules/bootstrap/scss/mixins/_badge.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-emphasis.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-hide.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-truncate.scss
!/assets/node_modules/bootstrap/scss/mixins/_buttons.scss
!/assets/node_modules/bootstrap/scss/mixins/_background-variant.scss
!/assets/node_modules/bootstrap/scss/mixins/_border-radius.scss
!/assets/node_modules/bootstrap/scss/mixins/_box-shadow.scss
!/assets/node_modules/bootstrap/scss/mixins/_gradients.scss
!/assets/node_modules/bootstrap/scss/mixins/_transition.scss
!/assets/node_modules/bootstrap/scss/_reboot.scss
!/assets/node_modules/bootstrap/scss/_buttons.scss
!/assets/node_modules/bootstrap/scss/_nav.scss
!/assets/node_modules/bootstrap/scss/_badge.scss
!/assets/node_modules/bootstrap/scss/utilities/_background.scss
!/assets/node_modules/bootstrap/scss/utilities/_text.scss
/assets/node_modules/bootstrap/test-infra/
/assets/node_modules/bootstrap/dist/**/*.js
/assets/node_modules/bootstrap/dist/**/*.css
/assets/node_modules/bootstrap/dist/**/*.map
/assets/node_modules/bootstrap/dist/**/*.eot
!/assets/node_modules/bootstrap/dist/**/bootstrap.min.css
!/assets/node_modules/bootstrap/dist/**/bootstrap.min.css.map
!/assets/node_modules/bootstrap/dist/**/bootstrap.min.js
!/assets/node_modules/bootstrap/dist/**/bootstrap.min.js.map
/assets/node_modules/bootstrap/**/*theme.min.css*

# firebase
/assets/node_modules/@firebase/
/assets/node_modules/@grpc/
/assets/node_modules/@protobufjs/
/assets/node_modules/@types/
/assets/node_modules/abbrev/
/assets/node_modules/ansi-regex/
/assets/node_modules/aproba/
/assets/node_modules/are-we-there-yet/
/assets/node_modules/ascli/
/assets/node_modules/balanced-match/
/assets/node_modules/brace-expansion/
/assets/node_modules/bytebuffer/
/assets/node_modules/camelcase/
/assets/node_modules/chownr/
/assets/node_modules/core-js/
/assets/node_modules/cliui/
/assets/node_modules/code-point-at/
/assets/node_modules/debug/
/assets/node_modules/decamelize/
/assets/node_modules/deep-extend/
/assets/node_modules/colour/
/assets/node_modules/concat-map/
/assets/node_modules/console-control-strings/
/assets/node_modules/delegates/
/assets/node_modules/detect-libc/
/assets/node_modules/dom-storage/
/assets/node_modules/encoding/
/assets/node_modules/faye-websocket/
/assets/node_modules/fs-minipass/
/assets/node_modules/fs.realpath/
/assets/node_modules/gauge/
/assets/node_modules/glob/
/assets/node_modules/grpc/
/assets/node_modules/has-unicode/
/assets/node_modules/http-parser-js/
/assets/node_modules/idb/
/assets/node_modules/ignore-walk/
/assets/node_modules/inflight/
/assets/node_modules/inherits/
/assets/node_modules/ini/
/assets/node_modules/invert-kv/
/assets/node_modules/is-fullwidth-code-point/
/assets/node_modules/is-stream/
/assets/node_modules/isarray/
/assets/node_modules/isomorphic-fetch/
/assets/node_modules/lcid/
/assets/node_modules/lodash.camelcase/
/assets/node_modules/lodash.clone/
/assets/node_modules/long/
/assets/node_modules/minimatch/
/assets/node_modules/minimist/
/assets/node_modules/minipass/
/assets/node_modules/minizlib/
/assets/node_modules/mkdirp/
/assets/node_modules/ms/
/assets/node_modules/nan/
/assets/node_modules/needle/
/assets/node_modules/node-fetch/
/assets/node_modules/node-pre-gyp/
/assets/node_modules/nopt/
/assets/node_modules/npm-bundled/
/assets/node_modules/npm-normalize-package-bin/
/assets/node_modules/npm-packlist/
/assets/node_modules/npmlog/
/assets/node_modules/number-is-nan/
/assets/node_modules/object-assign/
/assets/node_modules/once/
/assets/node_modules/optjs/
/assets/node_modules/os-homedir/
/assets/node_modules/os-locale/
/assets/node_modules/os-tmpdir/
/assets/node_modules/osenv/
/assets/node_modules/path-is-absolute/
/assets/node_modules/process-nextick-args/
/assets/node_modules/protobufjs/
/assets/node_modules/rc/
/assets/node_modules/readable-stream/
/assets/node_modules/rimraf/
/assets/node_modules/semver/
/assets/node_modules/set-blocking/
/assets/node_modules/signal-exit/
/assets/node_modules/string_decoder/
/assets/node_modules/string-width/
/assets/node_modules/strip-ansi/
/assets/node_modules/strip-json-comments/
/assets/node_modules/tar/
/assets/node_modules/tslib/
/assets/node_modules/util-deprecate/
/assets/node_modules/websocket-driver/
/assets/node_modules/websocket-extensions/
/assets/node_modules/whatwg-fetch/
/assets/node_modules/wide-align/
/assets/node_modules/window-size/
/assets/node_modules/word-wrap/
/assets/node_modules/wrap-ansi/
/assets/node_modules/wrappy/
/assets/node_modules/y18n/
/assets/node_modules/yallist/
/assets/node_modules/yargs/
/assets/node_modules/xmlhttprequest/
/assets/node_modules/firebase/externs/
/assets/node_modules/firebase/**/*.ts
/assets/node_modules/firebase/**/*.cjs.js*
/assets/node_modules/firebase/**/*.esm.js*
/assets/node_modules/firebase/firebase-analytics.*
/assets/node_modules/firebase/firebase-database.*
/assets/node_modules/firebase/firebase-functions.*
/assets/node_modules/firebase/firebase-installations.*
/assets/node_modules/firebase/firebase-messaging.*
/assets/node_modules/firebase/firebase-performance*
/assets/node_modules/firebase/firebase-remote-config*
/assets/node_modules/firebase/firebase-storage.*
/assets/node_modules/firebase/firebase.js*

# flag-icon-css
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/*.html
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/*.json
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/*.prettierignore
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/*.sh
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/assets/
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/css/
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/less/
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/flags/4x3/
/assets/node_modules/flag-icon-css-*/*/flag-icon-css/flags/1x1/*.svg
!/assets/node_modules/flag-icon-css-*/*/flag-icon-css/flags/1x1/mx.svg
!/assets/node_modules/flag-icon-css-*/*/flag-icon-css/flags/1x1/us.svg
!/assets/node_modules/flag-icon-css-*/*/flag-icon-css/flags/1x1/br.svg

# isotope-layout
/assets/node_modules/desandro-matches-selector/
/assets/node_modules/ev-emitter/
/assets/node_modules/fizzy-ui-utils/
/assets/node_modules/get-size/
/assets/node_modules/masonry-layout/
/assets/node_modules/outlayer/
/assets/node_modules/isotope-layout/js/
/assets/node_modules/isotope-layout/dist/*.pkgd.js

# jquery
/assets/node_modules/jquery/external/
/assets/node_modules/jquery/src/
/assets/node_modules/jquery/dist/core.js
/assets/node_modules/jquery/dist/jquery.js
/assets/node_modules/jquery/dist/*.slim.*

# jquery.stellar
/assets/node_modules/jquery.stellar/libs/
/assets/node_modules/jquery.stellar/src/
/assets/node_modules/jquery.stellar/test/
/assets/node_modules/jquery.stellar/jquery.stellar.js
/assets/node_modules/jquery.stellar/stellar.jquery.json

# js-md5
/assets/node_modules/js-md5/src/

# jspdf
/assets/node_modules/abab/
/assets/node_modules/acorn-globals/
/assets/node_modules/acorn/
/assets/node_modules/adler32cs/
/assets/node_modules/ajv/
/assets/node_modules/array-equal/
/assets/node_modules/asn1/
/assets/node_modules/assert-plus/
/assets/node_modules/asynckit/
/assets/node_modules/aws-sign2/
/assets/node_modules/aws4/
/assets/node_modules/base64-arraybuffer/
/assets/node_modules/bcrypt-pbkdf/
/assets/node_modules/canvg/
/assets/node_modules/caseless/
/assets/node_modules/cf-blob.js/
/assets/node_modules/co/
/assets/node_modules/combined-stream/
/assets/node_modules/core-util-is/
/assets/node_modules/css-line-break/
/assets/node_modules/cssom/
/assets/node_modules/cssstyle/
/assets/node_modules/dashdash/
/assets/node_modules/deep-is/
/assets/node_modules/delayed-stream/
/assets/node_modules/ecc-jsbn/
/assets/node_modules/escodegen/
/assets/node_modules/esprima/
/assets/node_modules/estraverse/
/assets/node_modules/esutils/
/assets/node_modules/extend/
/assets/node_modules/extsprintf/
/assets/node_modules/fast-deep-equal/
/assets/node_modules/fast-json-stable-stringify/
/assets/node_modules/fast-levenshtein/
/assets/node_modules/file-saver/
/assets/node_modules/forever-agent/
/assets/node_modules/form-data/
/assets/node_modules/getpass/
/assets/node_modules/har-schema/
/assets/node_modules/har-validator/
/assets/node_modules/html2canvas/
/assets/node_modules/http-signature/
/assets/node_modules/iconv-lite/
/assets/node_modules/is-typedarray/
/assets/node_modules/isstream/
/assets/node_modules/jsbn/
/assets/node_modules/jsdom/
/assets/node_modules/json-schema-traverse/
/assets/node_modules/json-schema/
/assets/node_modules/json-stringify-safe/
/assets/node_modules/jsprim/
/assets/node_modules/levn/
/assets/node_modules/mime-db/
/assets/node_modules/mime-types/
/assets/node_modules/nwmatcher/
/assets/node_modules/oauth-sign/
/assets/node_modules/omggif/
/assets/node_modules/optionator/
/assets/node_modules/parse5/
/assets/node_modules/performance-now/
/assets/node_modules/prelude-ls/
/assets/node_modules/promise-polyfill/
/assets/node_modules/psl/
/assets/node_modules/punycode/
/assets/node_modules/qs/
/assets/node_modules/request/
/assets/node_modules/rgbcolor/
/assets/node_modules/safer-buffer/
/assets/node_modules/safe-buffer/
/assets/node_modules/sax/
/assets/node_modules/source-map/
/assets/node_modules/sshpk/
/assets/node_modules/stackblur-canvas/
/assets/node_modules/symbol-tree/
/assets/node_modules/tough-cookie/
/assets/node_modules/tr46/
/assets/node_modules/tunnel-agent/
/assets/node_modules/tweetnacl/
/assets/node_modules/type-check/
/assets/node_modules/uri-js/
/assets/node_modules/uuid/
/assets/node_modules/verror/
/assets/node_modules/webidl-conversions/
/assets/node_modules/whatwg-url/
/assets/node_modules/wordwrap/
/assets/node_modules/xml-name-validator/
/assets/node_modules/xmldom/
/assets/node_modules/jspdf/**/*debug.js
/assets/node_modules/jspdf/**/*node.min.js

# lightslider
/assets/node_modules/lightslider/.*rc
/assets/node_modules/lightslider/*.jquery.*
/assets/node_modules/lightslider/demo/
/assets/node_modules/lightslider/dist/**/*.css
/assets/node_modules/lightslider/dist/**/*.js
!/assets/node_modules/lightslider/dist/**/*.min.css
!/assets/node_modules/lightslider/dist/**/*.min.js
/assets/node_modules/lightslider/node_modules/
/assets/node_modules/lightslider/src/
/assets/node_modules/lightslider/test/

# lunr
/assets/node_modules/lunr/*/
/assets/node_modules/lunr/lunr.js
/assets/node_modules/lunr/styles.css

# vue
/assets/node_modules/vue/src/
/assets/node_modules/vue/types/
/assets/node_modules/vue/dist/*.js
!/assets/node_modules/vue/dist/vue.min.js
