<!-- start top-bar -->
{% include body/header/top-bar.html %}
<!-- end top-bar -->

<header class="header header-two"> <!-- start header -->
  <div class="header-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-xs-6 col-md-3 col-lg-3 logo-box"> <!-- start logo-box -->
          {% include body/header/logo.html %}
        </div> <!-- end logo-box -->

        <div class="col-xs-6 col-md-9 col-lg-9 right-box"> <!-- start menu -->
          <div class="right-box-wrapper">
            {% include body/header/search-contact-phone-buttons.html %}
            <div class="primary">
              {% include body/menu.html %}
            </div>
          </div>
        </div> <!-- end menu -->

        <!-- start phone directory  -->
        {% include body/header/phone-directory.html %}
        <!-- end phone directory  -->

        <!-- start search bar  -->
        {% include body/header/search-bar.html %}
        <!-- end search bar  -->

      </div>
    </div>
  </div>
</header> <!-- end header -->
