<div class="navbar navbar-default" role="navigation">
  <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse">
    <i class="fas fa-bars fa-lg" data-fa-transform="grow-2 left-4"></i>
    <span>Menu</span>
  </button>
  <nav class="collapse collapsing navbar-collapse">
    <ul class="nav navbar-nav navbar-center ">
      {% if site.defaults[2].scope.type == 'radios' and site.defaults[2].values.published == true -%}
        {% include body/menu/radios.html %}
      {% endif -%}

      {% if site.defaults[3].scope.type == 'cctv' and site.defaults[3].values.published == true -%}
        {% include body/menu/cctv.html %}
      {% endif -%}

      {% if site.defaults[4].scope.type == 'emergency-lights' and site.defaults[4].values.published == true -%}
        {% include body/menu/emergency-lights.html %}
      {% endif -%}

      {% if site.defaults[5].scope.type == 'auxiliary-equipment' and site.defaults[5].values.published == true -%}
        {% include body/menu/auxiliary-equipment.html %}
      {% endif -%}

      {% if site.defaults[6].scope.type == 'satelital' and site.defaults[6].values.published == true -%}
        {% include body/menu/satelital.html %}
      {% endif -%}

      {% if site.defaults[7].scope.type == 'gps' and site.defaults[7].values.published == true -%}
        {% include body/menu/gps.html %}
      {% endif -%}

      {% if site.defaults[9].scope.type == 'networks' and site.defaults[9].values.published == true -%}
        {% include body/menu/networks.html %}
      {% endif -%}

      {% if site.original -%}
      {% else %}
        {% include body/menu/brochures.html %}
      {% endif -%}

      {% include body/menu/video-section.html %}
    </ul>
  </nav>
</div>
