#progressive-progress-navbar{
  margin-left: -2%;
}

.affix {
  top: 105px;
  width: 100%;
  z-index: 9999 !important;
}

@media(max-width:992px){
  .affix {
    top: 0;
  }
}

div.form-group {
  input{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  label.label-checkbox {
    margin-top: 8px;
    margin-left: 22px;
    font-size: 12px;
  }
}
