[data-component="logos/progressive"] {
  .logo-img {
    max-width: 270px;
    max-height: 100px;
  }

  @include media-breakpoint-only(sm) {
    .logo-img {
      max-width: 250px;
    }
  }

  @include media-breakpoint-only(xs) {
    .logo-img {
      max-width: 200px;
    }
  }

}
