<span class="fa-layers fa-fw fa-3x h-100 fa-pull-right">
  <i class="fas fa-bookmark" data-fa-transform="grow--9 right-8.5 down-21.5 rotate--45" style="color:Blue;"></i>
  <i class="fas fa-bookmark" data-fa-transform="grow--9 right--12.8 down--.5 rotate-135" style="color:Blue;"></i>
  <i class="fas fa-caret-up" data-fa-transform="grow--7 right-7 down-19.5" style="color:DarkBlue;"></i>
  <i class="fas fa-caret-up" data-fa-transform="grow--7 right--11 down-1 rotate-92" style="color:DarkBlue;"></i>
  <i class="fas fa-minus" data-fa-transform="grow-21 down-8.5 rotate-45" style="color:blue;"></i>
  <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.7 down-8.5 rotate-45" style="font-weight:900;">
    {{ include.label }}
  </span>
</span>
