<span class="fa-layers fa-fw fa-3x h-100 fa-pull-right">
  <i class="fas fa-bookmark {{ include.color-class | default: 'text-primary' }} fa-flip-horizontal" data-fa-transform="shrink-9 right-10.5 down-21.5 rotate-45"></i>
  <i class="fas fa-bookmark {{ include.color-class | default: 'text-primary' }} fa-flip-vertical" data-fa-transform="shrink-9 left-10.9 up-.5 rotate-45"></i>
  <i class="fas fa-caret-up text-dark" data-fa-transform="shrink-7 right-9 down-19.5"></i>
  <i class="fas fa-caret-right text-dark" data-fa-transform="shrink-7 left-9 down-1.1"></i>
  <i class="fas fa-minus {{ include.color-class | default: 'text-primary' }}" data-fa-transform="grow-21 right-2 down-8.5 rotate-45"></i>
  <span class="fa-layers-text fa-inverse font-weight-bold" data-fa-transform="shrink-11.7 right-2 down-8.5 rotate-45">
    {{ include.label }}
  </span>
</span>
