<span class="fa-layers fa-fw fa-3x h-100">
  <i class="fas fa-minus" data-fa-transform="grow-21.5 right-62 rotate-45" style="color:blue"></i>
  <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 right-62 rotate-45" style="font-weight:900">
    PROMOCIÓN
  </span>
</span>
