div.our-offices{
  font-family: 'Arimo   ', sans-serif;
  font-style: normal;
  font-size: medium;
}

div.our-offices div.branch-info{
  background-color: #fafafa;
  padding-top: 10px;
}

div.our-offices div.branch-info p span{
  display: block;
}
