div.phone-card{
  margin: 40px 0px;

  a{
    font-size: 25px;
    color: #7f7f7f;

    &:hover{
      color: #7f7f7f;
      text-decoration: none;
    }

    &:visited{
      color: #7f7f7f;
    }
  }
}
