{% for item in site.data.api.yaml.related.products[page.title] %}
  {{ item }}
{% endfor %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css"/>
  </head>
  <body>
    <h4>Accesorios</h4>
    <div class="gallery js-flickity">
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3-us-west-2.amazonaws.com/assets/img/catalog/thumbnails/radios/airbus/tetrapol/gpsk-tet.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="card" style="width: 18rem;">
          <img src="https://grupopv-public.s3.amazonaws.com/assets/img/catalog/thumbnails/shoes-woman/mid/563512f.png" class="card-img-top" alt="563512f">
          <div class="card-body">
            <h5 class="card-title">GPSK-TET</h5>
            <p class="card-text">Antena combinada Panorama PMR/GPS 380-430 Mhz</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js">
      {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      }

      body { font-family: sans-serif; }

      .gallery {
      background: #EEE;
      }

      .gallery-cell {
      width: 28%;
      height: 200px;
      margin-right: 10px;
      background: #8C8;
      counter-increment: gallery-cell;
      }

      .gallery-cell.is-selected {
      background: #ED2;
      }

      /* cell number */
      .gallery-cell:before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 200px;
      font-size: 30px;
      color: white;
      }
    </script>
  </body>
</html>
