{% assign related = site.data.api.yaml.related.products[page.title] %}

{% assign related_size = 0 %}
{% for product in related %}
  {% assign doc = site.data.api.hana.products[product] %}  
  {% if active_collections contains doc.collection %}
    {% assign related_size = related_size | plus: 1 %}
  {% endif %}
{% endfor %}

{% if related_size >= 2 %}
  <div data-component="carousels/slick">
    <div class="title-box my-4">
      <h3>
        {% if site.lang == 'es_MX' %}
          Productos relacionados con este artículo
        {% else %}
          Products related to this item
        {% endif %}
      </h3>
    </div>

    <div class="slick-carousel mx-5" data-slick='{"slidesToShow": {{ related_size | at_most: 4 }}}'>
      {% for product in related %}
        {% assign doc = site.data.api.hana.products[product] %}
        {% if active_collections contains doc.collection %}
          {% include components/product-cards/progressive.liquid
             brand-class="d-none"
             price-class="d-none"
          %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    {% include components/carousels/slick.js %}
  </script>
{% endif %}