[data-component="navbars/progressive"] {

  float: right;

  .navbar .nav > li {
    padding: 12px 1px 0;

    &:hover > a {
      border-color: #ccc!important;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
      box-shadow: 0 0 5px rgba(0,0,0,.15);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
  }

  &.nav-primary .navbar .nav > li:hover > a {
    border-color: darken(map-get($theme-colors, "primary"), 7.5%)!important;
    background: darken(map-get($theme-colors, "primary"), 7.5%)!important;
  }

  &.expanded .navbar .nav > li {
    padding: 7px 16px 0;

    &:hover > a {
      color: map-get($theme-colors, "dark")!important;
    }
  }

}
