.fixed-header .header-wrapper {
  background: $navbar-background-color;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.fixed-header.background-opacity .header-wrapper {
  opacity: .97;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.fixed-header.hidden-top.visible-top .header-wrapper,
.fixed-header.fixed .header-wrapper {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.header .primary .navbar .nav > li:hover > a {
  background: #fff;
  color: map-get($theme-colors, "primary")!important;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-wrapper{
  .right-box-wrapper {

    .contact-header, .location-header{

      border-right: 1px solid rgba(204,204,204,.8);
      color: #1e1e1e;
      display: inline-block;
      height: 30px;
      margin: 8px -4px 8px 0;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 41px;

      &:last-child {
        border-right: 0 none;
      }

      a{

        display: block;
        height: 23px;
        padding-top: 7px;
        width: 100%;

        svg{
          font-size: 1.2em;
          color: $icon-color-menu;
          overflow: visible;
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: all .3s linear;
          transition: all .3s linear;
          -webkit-transform: translateZ(0px);
        }

        &:hover svg{
          opacity: .5;
          filter: alpha(opacity=50);
          -webkit-transition: all .3s linear;
          transition: all .3s linear;
        }

      }
    }

    .navbar{
      button{
        svg{
          color: $icon-color-menu;
        }
      }
    }
  }
  div.phone-active {
    div.custom {
      span.phone {
        color: $font-color-menu;
      }
    }
  }
}
