{% for filter in page.filters %}
<h5>{{ filter.title }}</h5>
<div class="button-group filters-button-group">
  <button class="button is-checked d-block m-1" data-filter="*">Todas</button>
  {% for option in filter.options %}
    <button class="button d-block m-1" data-filter=".{{ option | downcase }}">{{ option }}</button>
  {% endfor %}
  <button class="button d-block m-1" data-filter=".pv, .iridium">PV & Iridium</button>
  <button class="button d-block m-1" data-filter=":not(.iridium)">No Iridium</button>
  <button class="button d-block m-1" data-filter=".iridium:not(.smn20850)">Si Iridium pero no SMN20850</button>
  <button class="button d-block m-1" data-filter="priceGreaterThan3000">Precio mayor de 3000</button>
  <button class="button d-block m-1" data-filter="ium">La descripcion cotiene 'Telefono'</button>
</div>
{% endfor %}
