{% for filter in page.filters %}
  <h5>{{ filter.title }}</h5>
  <div class="btn-group btn-group-toggle btn-group-vertical filters-button-group" role="group" data-toggle="buttons">
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter="*">Todas</button>
    {% for option in filter.options %}
      <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter=".{{ option | downcase }}">{{ option }}</button>
    {% endfor %}
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter=".pv, .iridium">PV & Iridium</button>
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left active" data-toggle="button" data-filter=":not(.iridium)" active>No Iridium</button>
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter=".iridium:not(.smn20850)">Si Iridium pero no SMN20850</button>
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter="priceGreaterThan3000">Precio mayor de 3000</button>
    <button type="button" class="btn btn-light text-decoration-none btn-sm text-left" data-toggle="button" data-filter="ium">La descripcion cotiene 'Telefono'</button>
  </div>
{% endfor %}
