<div id="top-box">
  <div class="container">
    <div class="custom">
      <div id="exchange-rates">
        {% if site.exchange-rates.usd %} {% include body/header/exchange-rates/usd.html %} {% endif %}
      </div>
      <div id="sign-in">
        <span id="sign-in-welcome" class="hidden-xs"></span>
        <strong id="sign-in-name"></strong>
        <a id="login-button" class="btn btn-xs btn-warning hide" href="/login/?mode=select&signInSuccessUrl={{ page.url }}"><i class="fas fa-sign-in-alt fa-lg" data-fa-transform="grow-2 left-3"></i> {{ site.data.i18n.common.firebase[site.lang].login.title }}</a>
        <button id="logout-button" class="btn btn-xs btn-warning hide"><i class="fas fa-sign-out-alt fa-lg" data-fa-transform="grow-2 left-3"></i> {{ site.data.i18n.common.firebase[site.lang].logout.title }}</button>
      </div>
    </div>
    <script>
      jQuery(document).ready(function(){
        jQuery("body").addClass("hidden-top");
      });
    </script>
  </div>
</div>
