<div id="product-generals" class="col-xs-12 col-sm-12 col-md-8">
    <h3 id="{{ i18n-id }}" class="product-description">{% if i18n-description %}{{ i18n-description }}{% else %}{{ page.description }}{% endif %}</h3>
    <p class="product-model">{{ site.data.i18n.common.product-layout[site.lang].model }}: <strong>{% if i18n-title %}{{ i18n-title }}{% else %}{{ page.title }}{% endif %}</strong></p>
    <p class="product-brand">{{ site.data.i18n.common.product-layout[site.lang].brand }}: <strong>{{ page.brand }}</strong></p>
    <p class="product-commercial {% unless page.commercial %}{{ 'hide' }}{% endunless %}">{{ site.data.i18n.common.product-layout[site.lang].commercial }}: <strong>{{ page.commercial }}</strong></p>
    <div class="product-price">
      <span class="label label-primary {% if page.promotion-price and site.original == false %}{{ 'disabled-price' }}{% endif %}">{% if page.price %}{{ page.price | prepend: '$ ' }}{% endif %}{% assign price-size = page.price | downcase | split: '.' | last | size %}{% if price-size == 1 %}{{ "0" }}{% endif %}{% if page.currency %}{{ page.currency | prepend: ' ' }}{% endif %}</span>
      <span class="label label-primary">{% unless site.original %}{% if site.special-offers.customers %}{% if page.promotion-price %}{{ page.promotion-price | prepend: '$ ' }}{% endif %}{% assign promotion-price-size = page.promotion-price | downcase | split: '.' | last | size %}{% if promotion-price-size == 1 %}{{ "0" }}{% endif %}{% if page.promotion-currency %}{{ page.promotion-currency | prepend: ' ' }}{% endif %}{% else %}{{ '<a href="/our-offices/" title="Our offices" class="white">Contáctanos para un precio especial</a>' }}{% endif %}{% endunless %}</span>
    </div>
</div>
