---
title: Fix to Ride
permalink: /events/fix-to-ride-2016/
carousels:
  - { title: "MONTERREY", i18n: { es_MX: 'MONTERREY', pt_BR: '' }, id: "csapv-monterrey", photos: 11 }
  - { title: "GUADALAJARA", i18n: { es_MX: 'GUADALAJARA', pt_BR: '' }, id: "csapv-guadalajara", photos: 7 }
  - { title: "MÉXICO", i18n: { es_MX: 'MEXICO', pt_BR: '' }, id: "csapv-mexico", photos: 5 }
---
<script src='//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js'></script>

<h3 class="pt-5">Fotos</h3>
<div class="row">
  {% for carousel in page.carousels %}
    <div class="col-12 col-lg-6">
      {% include components/sliders/bootstrap.liquid %}
    </div>
  {% endfor %}
</div>
