body.page-404 article.container{
  padding-top: 75px;
}

body.page-404 h1, body.page-404 h3{
  color: #000;
}

body.page-404 .btnbb {
  background: #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 9px 11px 9px 11px;
  text-decoration: none;
}

body.page-404 .btnbb:hover {
  background: #000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 9px 11px 9px 11px;
  text-decoration: none;
}

body.page-404 a:visited {
    color: #fff;
}

body.page-404 a {
    color: #fff;
}
