[data-component="videos/background"] {
  #cm-video-bg {
    padding: 191px 0px; // Defines the height of the component
    .fwb-video {
      video, img {
        max-width: inherit; // Makes the video use all the posible heigth
        min-width: 100%; // Makes the video use all the posible width
      }
    }
  }
}
