<script type="text/javascript">document.getElementById("{{ page.form.id }}").classList.add("hide")</script>

<div class="container marketing-theme blur-background" data-appear-animation="fadeInUp">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <script type="text/javascript">var submitted=false;</script>
      <iframe id="hidden_iframe" class="hide" name="hidden_iframe" onload="submitted&amp;&amp;(window.location='{{ page.url }}?response')"></iframe>
      <div id="form-request" class="jumbotron rounded bg-white">
        <h3 class="display-3">{{ page.form.request.header }}</h3>
        <p><sub>{{ page.form.request.subheader }}</sub></p>
        <hr class="my-4">
        <form class="form" method="post" onsubmit="submitted=!0" target="hidden_iframe" action="{{ page.form.google-forms-url }}">
          {% for field in page.form.request.fields %}
            <div class="form-group" data-appear-animation="fadeInUp">
              <label>{{ field.label }}</label>
              {% if field.type == 'checkbox' %}
                {% for value in field.values %}
                  <input type="{{ field.type }}" name="entry.{{ field.google-entry }}" id="a{{ forloop.index }}" value="{{ value }}"/>
                  <label class="label-checkbox text-muted" for="a{{ forloop.index }}">{{ value }}</label>
                {% endfor %}
              {% elsif field.type == 'select' %}
                <select name="entry.{{ field.google-entry }}">
                  <option selected disabled>Selecciona</option>
                  {% for value in field.values %}
                    <option value="{{ value }}">{{ value }}</option>
                  {% endfor %}
                </select>
              {% elsif field.type == 'date' %}
                <input name="entry.{{ field.google-entry }}_day" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
                <input name="entry.{{ field.google-entry }}_month" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
                <input name="entry.{{ field.google-entry }}_year" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
              {% else %}
                <input name="entry.{{ field.google-entry }}" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
              {% endif %}
              <small id="{{ field.label | downcase }}Help" class="form-text text-muted">{{ field.caption }}</small>
            </div>
          {% endfor %}
          <p class="marketing-theme red" data-appear-animation="fadeInUp"><sup><sup>{{ page.form.request.footer-danger }}</sup></sup></p>
          <hr class="my-4">
          <button type="submit" class="btn btn-primary" value="Send" data-appear-animation="bounceIn" onsubmit="this.disabled = true">{{ page.form.request.send-button }}</button>
        </form>
      </div>
      <div id="form-response" class="jumbotron rounded bg-white text-center">
        <span class="text-success">
          <h1>{{ page.form.response.header }}</h1>
          <i class="fas fa-check fa-8x"></i>
        </span>
        <p><sub>{{ page.form.response.subheader }}</sub></p>
        <p class="marketing-theme red"><sub><sub>{{ page.form.response.footer-danger }}</sub></sub></p>
      </div>
      <script type="text/javascript">
        let response = new URL(window.location.href).searchParams.has("response");
        document.getElementById(response ? 'form-request' : 'form-response').classList.add("hide");
      </script>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<nav id="progressive-progress-navbar" class="navbar bg-white" data-spy="affix" data-offset-top="140">
  <div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h4>{{ site.data.components.forms.google-forms[site.lang].progress.title | default: "Your progress" }}</h4>
      <p>{{ site.data.components.forms.google-forms[site.lang].completed.title | default: "You have completed" }} <strong id="progress-bar-status"></strong> {{ site.data.components.forms.google-forms[site.lang].form.title | default: "of the form" }}.</p>
      <div class="progress progress-striped active border-radius hover">
        <div id="progressive-progress-bar" class="progress-bar progress-bar-info"></div>
      </div>
    </div>
  </div>
</nav>

<style>
  .blur-background:before {
    background-image: url('{{ site.amazon-s3 }}/assets/img/common/forms/{{ page.form.id }}-bg.png');
  }
</style>

<script type="text/javascript">
  statusText = document.getElementById('progress-bar-status');
  formInputs = document.querySelectorAll("[required]");
  progressBar = document.getElementById('progressive-progress-bar');
  progressBar.style.width = "1%";
  progressBar.innerHTML = "1%";
  statusText.innerHTML = "1%";

  for (var i = 0; i < formInputs.length; i++) {
    formInputs[i].addEventListener("input", updateProgressBar);
  }

  function updateProgressBar() {
    progressBar.value = 0;
    for (var i = 0; i < formInputs.length; i++) {
      if ( formInputs[i].value != '' ){
        progressBar.value += 100/formInputs.length;
      }
    }
    progressBar.style.width = progressBar.value + "%";
    progressBar.innerHTML = Math.round(progressBar.value) + "%";
    statusText.innerHTML = Math.round(progressBar.value) + "%";
  }
</script>
