<script type="text/javascript">document.getElementById("{{ page.form.id }}").classList.add("d-none")</script>

{% include components/forms/google-forms.css %}

<nav id="progressive-progress-navbar" class="navbar bg-white sticky">
  <div class="container">
    <div class="col-sm-8 mx-auto">
      <p class="text-center">
        <span>
          {{ site.data.components.forms.google-forms[site.lang].completed.title | default: "You have completed" }}
          <strong id="progress-bar-status"></strong>
          {{ site.data.components.forms.google-forms[site.lang].form.title | default: "of the form" }}.
        </span>
        <span class="progress progress-striped active border-radius hover" style="height:20px">
          <span id="progressive-progress-bar" class="progress-bar progress-bar-info"></span>
        </span>
      </p>
    </div>
  </div>
</nav>

<div class="container marketing-theme blur-background" data-appear-animation="fadeInUp">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <script type="text/javascript">var submitted=false;</script>
      <iframe id="hidden_iframe" class="d-none" name="hidden_iframe" onload="submitted&amp;&amp;(window.location='{{ page.url }}?response')"></iframe>
      <div id="form-request" class="jumbotron rounded bg-white">
        <h3>{{ page.form.request.header }}</h3>
        <p>{{ page.form.request.subheader }}</p>
        <hr class="my-4">
        <form class="form" method="post" onsubmit="submitted=!0" target="hidden_iframe" action="{{ page.form.google-forms-url }}">
          {% for field in page.form.request.fields %}
            <div class="form-group" data-appear-animation="fadeInUp">
              <label>{{ field.label }}</label>
              {% if field.type == 'checkbox' %}
                {% for value in field.values %}
                  <input type="{{ field.type }}" name="entry.{{ field.google-entry }}" id="a{{ forloop.index }}" value="{{ value }}"/>
                  <label class="label-checkbox text-muted" for="a{{ forloop.index }}">{{ value }}</label>
                {% endfor %}
              {% elsif field.type == 'select' %}
                <select name="entry.{{ field.google-entry }}">
                  <option selected disabled>Selecciona</option>
                  {% for value in field.values %}
                    <option value="{{ value }}">{{ value }}</option>
                  {% endfor %}
                </select>
              {% elsif field.type == 'date' %}
                <input name="entry.{{ field.google-entry }}_day" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
                <input name="entry.{{ field.google-entry }}_month" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
                <input name="entry.{{ field.google-entry }}_year" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
              {% else %}
                <input name="entry.{{ field.google-entry }}" type="{{ field.type }}" aria-describedby="{{ field.label | downcase }}Help" placeholder="{{ field.placeholder }}" required/>
              {% endif %}
              <small id="{{ field.label | downcase }}Help" class="form-text text-muted">{{ field.caption }}</small>
            </div>
          {% endfor %}
          <p class="text-danger" data-appear-animation="fadeInUp">{{ page.form.request.footer-danger }}</p>
          <hr class="my-4">
          <button type="submit" class="btn btn-primary" value="Send" data-appear-animation="bounceIn" onsubmit="this.disabled = true">{{ page.form.request.send-button }}</button>
        </form>
      </div>
      <div id="form-response" class="jumbotron rounded bg-white text-center">
        <span class="text-success">
          <h1>{{ page.form.response.header }}</h1>
          <i class="fas fa-check fa-8x"></i>
        </span>
        <p><sub>{{ page.form.response.subheader }}</sub></p>
        <p class="marketing-theme red"><sub><sub>{{ page.form.response.footer-danger }}</sub></sub></p>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

{% include components/forms/google-forms.js %}
