<hr>

<nav>
  <div class="nav nav-pills nav-justified flex-column flex-sm-row" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#catalogs" role="tab" aria-controls="catalogs" aria-selected="true">
      Catálogos
    </a>
    <a class="nav-item nav-link " data-toggle="tab" href="#brochures" role="tab" aria-controls="brochures" aria-selected="false">
      Folletería
    </a>
  </div>
</nav>

<hr>