<div class="tab-content">

  <div class="tab-pane fade show active" id="catalogs" role="tabpanel" aria-labelledby="catalogs-tab">
    <div class="container">
      {% include components/collapse/list-accordion.html %}
    </div>
  </div>

  <div class="tab-pane fade show" id="brochures" role="tabpanel" aria-labelledby="brochures-tab">
    {% include components/panels/brochures.liquid %}
  </div>

</div>