<div class="cart-item-${product.model}">
  <img class="cart-item-image" src="${product.image}" alt="${product.model}">
  <h3 class="cart-item-model">${product.model}</h3>
  <h3 class="cart-item-brand">${product.brand}</h3>
  <h3 class="cart-item-description">${product.description}</h3>
  <h3 class="cart-item-price">${product.price}</h3>
  <button class="btn btn-primary btn-small${(product.quantity === 1 ? ' btn-danger' : '')}" data-action="decreaseItem">&minus;</button>
  <h3 class="cart-item-quantity">${product.quantity}</h3>
  <button class="btn btn-primary btn-small" data-action="increaseItem">&plus;</button>
  <button class="btn btn-danger btn-small" data-action="removeItem">&times;</button>
</div>
