<footer id="footer">

  <div class="footer-top"> <!-- start footer-top -->
    <div id="vg-footer">
      <div class="container">
        <div class="row sidebar">
          {% include components/footers/progressive/top.html %}
          {% if site.title == 'Denac' %}
            <aside class="col-md-3">
              {% include components/social-media/progressive.html %}
            </aside>
          {% endif %}
        </div>
      </div>
    </div>
  </div> <!-- end footer-top -->

  <div class="footer-bottom"> <!-- start footer-bottom -->
    <div class="container">
      <div class="row">
        {% include components/copyrights/progressive.html %}

        {% if site.title == 'Grupo PV' %}
          <aside class="col-md-3">
            {% include components/social-media/progressive.html %}
          </aside>
        {% elsif site.original == false %}
          {% include components/contact-cards/phone-card.html %}
        {% endif %}

        <div class="col-md-1">
          {% include components/scroll-to-tops/progressive.html %}
          {% include components/lang-switchers/two-langs.html %}
        </div>

      </div>
    </div>
  </div> <!-- end footer-bottom -->

</footer>
