{% for section in site.data.components.footers.progressive.common %}
  {% unless site.links.footer[section.name.title].disabled %}
    <aside class="col-sm-{{ section.grid-class }} col-md-{{ section.grid-class }}">
      <div class="title-block">
        <h3 class="title">
          <i class="{{ section.icon }}"></i>
          {% include components/footers/progressive/custom-title.html %}
        </h3>
      </div>
      <div class="custom">
        <ul class="footer-list">
          {% for item in section.items %}
            {% unless site.links.footer[item.title].disabled %}
              <li class="footer-list">
                <a class="white" href="{{ item.link }}">
                  <i class="{{ item.pre-icon }}"></i>
                  {% include components/footers/progressive/custom-item.html %}
                   <i class="{{ item.post-icon }}"></i>
                </a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </aside>
  {% endunless %}
{% endfor %}
