<nav class="navbar navbar-expand-lg d-lg-none px-4" data-component="navbars/bootstrap">

  <button class="navbar-toggler mr-0 mr-sm-5 pr-3 pl-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars" data-fa-transform="down-1"></i>
  </button>

  {% include components/logos/progressive.liquid class="navbar-brand my-1 mr-0" %} <!-- end navbar-brand -->
  {% include components/icons/bootstrap.liquid %} <!-- end icons -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% include components/navbars/data/collections.liquid component="nav-items/bootstrap" %}
    </ul>
  </div>

</nav>
