<div class="primary">
  <nav class="navbar navbar-expand-md" role="navigation">
    <ul class="nav">
      {% include components/navbars/common.liquid component="megamenu/progressive" %}
    </ul>
  </nav>
</div>

{% include components/navbars/progressive.js %}
