<div class="primary" data-component="navbars/progressive">
  <nav class="navbar navbar-expand-md" role="navigation">
    <ul class="nav">
      {% include {{ include.data | prepend: 'components/' | append: '.liquid' }} component="megamenu/progressive" %}
    </ul>
  </nav>
</div>

{% include components/navbars/progressive.js %}
