<div class="primary">
  <div class="navbar navbar-default navbar-expand-md" role="navigation">
    <button type="button" class="navbar-toggler btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse" aria-controls=".primary .navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-lg" data-fa-transform="grow-2 left-4"></i>
      <span class="navbar-toggler-icon">Menu</span>
    </button>
    <nav class="collapse collapsing navbar-collapse">
      <ul class="nav navbar-nav navbar-center">
        {% include components/navbars/common.liquid component="megamenu/progressive" %}
      </ul>
    </nav>
  </div>
</div>

{% include components/navbars/progressive.js %}
