<!DOCTYPE html>
<html lang="{{ page.lang |  slice: 0,2 | default: site.lang |  slice: 0,2 | default: "en" }}" dir="ltr">
  <!-- Jekyll theme: https://github.com/cetinajero/jekyll-theme-marketing -->

  <head>

    {% seo %}
    {% include components/meta/progressive.liquid %}
    {% include components/scripts/head.liquid %}
    {% include components/firebase/sdk.liquid %}
    {% include components/fonts/google.html %}
    {% include components/stylesheets/progressive.liquid %}
    {% include components/analytics/google-tag-manager/head.liquid %}
    {% include components/analytics/google-tag.liquid %}
    {% include components/chats/whatsapp.liquid %}

  </head>

  <body id="marketing-theme" class="fixed-header boxed">

    <div class="page-box">
      <div class="page-box-content">

        {% include components/topbars/progressive.liquid %} <!-- end top-bar -->

        <header class="header header-two">
          {% include components/headers/default.liquid %}
        </header> <!-- end header -->

        {{ content }} <!-- end content -->

      </div>
    </div> <!-- end page-box -->

    {% include components/footers/progressive/footer.liquid %} <!-- end footer -->
    {% include components/scripts/body.liquid %} <!-- end scripts -->

  </body>

</html>
