---
layout: page
---
<div class="container">
  <div class="row">
    {% assign collections = site.collections | where: "label", page.collection %}
    {% for collection in collections %}
      {% assign docs = collection.docs | where: "menu-father", page.menu-name %}
      {% for doc in docs %}
        {% assign url-size = doc.url | size | minus: 2 %}
        {% assign i18n-id = doc.url | slice: 1,url-size | replace: '/', '-' | remove_first: collection.label | remove_first: '-' %}
        {% assign i18n-title = site.data.i18n.catalog[collection.label][site.lang][i18n-id].title %}
        {% if doc.i18n[site.lang].description %}
          {% assign i18n-description = doc.i18n[site.lang].description %}
        {% else %}
          {% assign i18n-description = site.data.i18n.catalog[collection.label][site.lang][i18n-id].desc %}
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div>
            <a {% if doc.menu-name or collection.products.detail or doc.menu-name %}{{ doc.url | prepend: 'href="' | append: '"' }}{% endif %}>
              <img id="{{ i18n-id }}" class="product-image" src="{{ doc.image }}" alt="{% if i18n-title %}{{ i18n-title }}{% else %}{{ doc.title }}{% endif %}" />
            </a>
          </div>
          <div class="product-model">
            <a id="{{ i18n-id }}" {% if doc.menu-name or collection.products.detail or doc.menu-name %}{{ doc.url | prepend: 'href="' | append: '"' }}{% endif %}>{% if i18n-title %}{{ i18n-title }}{% else %}{{ doc.title }}{% endif %}</a>
          </div>
          <div class="product-brand">{{ doc.brand }} {{ doc.commercial }}</div>
          <div id="{{ i18n-id }}" class="product-description">{% if i18n-description %}{{ i18n-description }}{% else %}{{ doc.description }}{% endif %}</div>
          <div class="product-price"><span class="label label-primary">$ {{ doc.price }}{% assign doc-price-size = doc.price | downcase | split: '.' | last | size %}{% if doc-price-size == 1 %}{{ "0" }}{% endif %} {{ doc.currency }}</span></div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div> <!-- /container -->
