---
layout: default
---
{% if page.layout == "product" %}
  {% assign class = 'd-none' %}
{% else %}
  {% assign url-size = page.url | size | minus: 2 %}
  {% assign i18n-id = page.url | slice: 1,url-size | replace: '/', '-' | remove_first: page.collection | remove_first: '-' %}
  {% if i18n-id == "" %}{% assign i18n-id = page.collection %}{% endif %}
  {% if page.collection == 'pages' %}
    {% assign i18n-title = site.data.i18n.common[page.collection][site.lang][i18n-id].title %}
    {% assign i18n-subtitle = site.data.i18n.common[page.collection][site.lang][i18n-id].subtitle %}
  {% else %}
    {% assign i18n-title = site.data.i18n.catalog[page.collection][site.lang][i18n-id].title %}
    {% assign i18n-subtitle = site.data.i18n.catalog[page.collection][site.lang][i18n-id].subtitle %}
  {% endif %}
{% endif %}

<nav class="breadcrumb-component" aria-label="breadcrumb">
  <ol id="breadcrumb" class="breadcrumb">
    {% for level in (-1..page.categories.size) %}
      {% if forloop.first %}
        <li class="breadcrumb-item home"><a href="{{ '/' | relative_url }}"><i class="fas fa-home fa-lg" data-fa-transform="up-2"></i></a></li>
        <li class="breadcrumb-item ellipsis d-none">...</li>
        {% if page.menu-father %}
          <li class="breadcrumb-item {{ page.collection }}"><a href="{{ page.collection | prepend: '/' | relative_url }}">{% if site.data.i18n.catalog[page.collection][site.lang][page.collection].title %}{{ site.data.i18n.catalog[page.collection][site.lang][page.collection].title }}{% else %}{{ page.collection | capitalize }}{% endif %}</a></li>
        {% endif %}
      {% elsif forloop.last %}
        <li class="breadcrumb-item {{ i18n-id }} active" aria-current="page">{% if i18n-title %}{{ i18n-title }}{% else %}{{ page.title }}{% endif %}</li>
      {% else %}
        {% assign cat-num = forloop.index %}
        {% assign url-size = page.url | size | minus: 2 %}
        {% assign sections = page.url | slice: 1,url-size | split : '/' %}
        {% capture level-url %}
          {% for section in sections %}
            {% if forloop.index > cat-num %} {% break %} {% endif %}
            {{ section | append: '/' }}
          {% endfor %}
        {% endcapture %}
        {% assign level-url = level-url | strip_newlines | replace: ' ', '' | relative_url %}
        {% assign level-url-size = level-url | size | minus: 2 %}
        {% assign level-i18n-id = level-url | slice: 1,level-url-size | replace: '/', '-' | remove_first: page.collection | remove_first: '-' %}
        {% assign level-i18n-title = site.data.i18n.catalog[page.collection][site.lang][level-i18n-id].title %}
        {% assign page-commercial-downcase = page.commercial | downcase | replace: ' ', '-' %}
        {% unless page.categories[level] == page-commercial-downcase %}
          <li class="breadcrumb-item {{ level-i18n-id }}"><a href="{{ level-url }}">{% if level-i18n-title %}{{ level-i18n-title }}{% else %}{{ page.categories[level] | replace: '-', ' ' | capitalize }}{% endif %}</a></li>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </ol>
</nav>

<script>
  var items = $('#breadcrumb > li.breadcrumb-item');
  if (items.length > 3){
    if (items.length > 4) $('li.breadcrumb-item.ellipsis').removeClass('d-none').addClass('d-xs-inline d-md-none');
    if (items.length > 5) $('li.breadcrumb-item.ellipsis').removeClass('d-md-none').addClass('d-lg-none');
    items.each(function( index ) {
      if (index > 1 && index < items.length) if (index != items.length-2) $(this).addClass('d-none d-md-inline');
      if (index > 1 && index < items.length-3) $(this).removeClass('d-md-inline').addClass('d-lg-inline');
    });
  }
</script>

<h2 id="{{ i18n-id }}" class="post {{ class }}">{% if i18n-title %}{{ i18n-title }}{% else %}{{ page.title }}{% endif %}</h2>
<h3 id="{{ i18n-id }}" class="post {{ class }}">{% if i18n-subtitle %}{{ i18n-subtitle }}{% else %}{{ page.subtitle }}{% endif %}</h3>

<div class="post">
  <div id="sign-in-content"></div>
  {{ content }}
</div>
