---
layout: default
---
{% if page.layout == "product" %}
  {% assign class = 'd-none' %}
{% else %}
  {% assign i18n-id = page.url | slugify | remove_first: page.collection | remove_first: '-' %}
  {% if i18n-id == "" %}{% assign i18n-id = page.collection %}{% endif %}
  {% if page.collection == 'pages' %}
    {% assign i18n-title = site.data.i18n.common[page.collection][site.lang][i18n-id].title %}
    {% assign i18n-subtitle = site.data.i18n.common[page.collection][site.lang][i18n-id].subtitle %}
  {% else %}
    {% assign i18n-title = site.data.i18n.catalog[page.collection][site.lang][i18n-id].title %}
    {% assign i18n-subtitle = site.data.i18n.catalog[page.collection][site.lang][i18n-id].subtitle %}
  {% endif %}
{% endif %}

{% include components/breadcrumbs/bootstrap.liquid %}
{% include components/headings/bootstrap.liquid %}

<div class="post">
  <div id="sign-in-content"></div>
  {{ content }}
</div>
