---
layout: page
tabs: [description, downloads, videos, special-offers]
special-offers:
  format: letter
  orientation: portrait
  unit: in
  width: 8
  height: 9.1
  margin: 0.25
  dpi: 300
---
<script src="{{ '/assets/node_modules/jspdf/dist/jspdf.min.js' | relative_url }}"></script>
{% assign url-size = page.url | size | minus: 2 %}
{% assign i18n-id = page.url | slice: 1,url-size | replace: '/', '-' | remove_first: page.collection | remove_first: '-' %}
{% if page.i18n[site.lang].title %}
  {% assign i18n-title = page.i18n[site.lang].title %}
{% else %}
  {% assign i18n-title = site.data.i18n.catalog[page.collection][site.lang][i18n-id].title %}
{% endif %}
{% if page.i18n[site.lang].description %}
  {% assign i18n-description = page.i18n[site.lang].description %}
{% else %}
  {% assign i18n-description = site.data.i18n.catalog[page.collection][site.lang][i18n-id].desc %}
{% endif %}
<div class="container">
  <div class="row">
    <div id="product-images" class="col-xs-12 col-sm-12 col-md-4">
      {% include components/sliders/lightslider.html %}
    </div>
    {% include components/product-cards/product-generals.html %}
  </div>
  <div>
    {% include components/nav-tabs/product-nav-tab.html %}
  </div>
</div> <!-- /container -->
<script type="text/javascript">
  jQuery('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 10,
    thumbItem: 4,

    galleryMargin: 5,
    thumbMargin: 5
  });
</script>
<script src="/assets/js/bootstrap/nav-tabs.js"></script>
