.line-clamp-2 {
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.position-absolute-centered {
  position: absolute;
  top: 50%;  // position the top  edge of the element at the middle of the parent
  left: 50%; // position the left edge of the element at the middle of the parent
  transform: translate(-50%, -50%); // This is a shorthand of translateX(-50%) and translateY(-50%)
}

.marketing-theme{
  &.red{
    color:red;
  }

  &.clean-view{
    margin-top: 30px;
    padding-bottom: 30px;
  }

  &.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.content-right{
    display: flex;
    justify-content: flex-end;
  }

  &.blur-background:before {
    content: "";
    position: absolute;
    display: block;
    background-size:cover;
    width: 98%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  &.blur-background {
    overflow: auto;
    position: relative;
  }
}
