.marketing-theme{
  &.clean-view{
    margin-top: 30px;
    padding-bottom: 30px;
  }

  &.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.content-right{
    display: flex;
    justify-content: flex-end;
  }
}
