<form action="/search/" method="get">
  <input type="text" id="search-box" name="q" class="mb-3" placeholder="Ingresa el texto a buscar" autocomplete="off" autofocus>
  <div class="text-right">
    <button class="btn btn-primary" type="submit">
      <i class="fas fa-search"></i>
      Buscar
    </button>
  </div>
</form>

<ul id="search-results" class="list-unstyled"></ul>

<script src="{{ 'assets/node_modules/lunr/lunr.min.js' | relative_url }}"></script>

{% include components/spinners/bootstrap.html %}

<script type="text/javascript">
  {% include components/search-engines/lunr.js %}
</script>
