---
published: true
title: "Video section"
permalink: /videos/
tabs:
  - name: Chuck 70
    component: videos/youtube
    params: { videos: "8Ol4qM3-0Hc, B65Cv1QslaU" }
  - name: Converse attitude
    component: videos/youtube
    params: { videos: "1rSD_ZHg954" }
  - name: Festivals
    component: videos/youtube
    params: { videos: "EhHxJaAbqzk, HHDP82mnpfA, zEUTKowLQIM" }
---
<div class="container">
  {% include components/nav-tabs/nav-pills.liquid tabs=page.tabs %}
</div> <!-- /container -->
