<div id="top-box" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center pl-xl-5 px-xl-4">

      <a class="text-light d-inline d-sm-none" href="/search/">
        <i class="fas fa-search fa-lg" data-fa-transform="up-2 grow-4"></i>
      </a>

      <span id="exchange-rates">
        {% if site.exchange-rates.usd %}
          {% include components/exchange-rates/progressive.html %}
        {% endif %}
      </span>

      <span id="sign-in">
        <span id="sign-in-welcome" class="d-none d-md-inline"></span>
        <strong id="sign-in-name"></strong>
        <a id="login-button" class="btn btn-xs btn-warning d-none" href="/">
          <i class="fas fa-sign-in-alt fa-lg" data-fa-transform="grow-2 left-3"></i>
          {{ site.data.i18n.common.firebase[site.lang].login.title }}
        </a>
        <button id="logout-button" class="btn btn-xs btn-warning d-none">
          <i class="fas fa-sign-out-alt fa-lg" data-fa-transform="grow-2 left-3"></i>
          {{ site.data.i18n.common.firebase[site.lang].logout.title }}
        </button>
      </span>

    </div>
    {% include components/topbars/progressive.js %}
  </div>
</div>

<script type="text/javascript">
  const path = location.pathname.substring(1);
  document.getElementById('login-button').href = '/login/?mode=select&signInSuccessUrl=/' + path;
</script>
