<div class="fixed-bottom" data-component="buttons/fixed-bottom">
  <a class="text-primary" target="_blank">
    <span class="fa-layers fa-fw fa-3x">
      <i class="fas fa-circle fa-lg"></i>
      <i class="{{ include.icon }} text-white" data-fa-transform="{{ include.icon-transform }}"></i>
    </span>
  </a>
</div>